In [6]:
SELECT  UGYFEL_FK, SZOBA_FK,
        IIF(MONTH(mettol) IN (6,7,8), 'Igen', 'Nem') AS 'NYar'
From Foglalas
WHERE UGYFEL_FK = 'laszlo_2' And GYERMEK_SZAM = 0

In [8]:
SELECT szh.TIPUS, YEAR(f.METTOL) AS 'Év', MONTH(f.METTOL) AS 'Hónap', Count(*)
 

 FROM Foglalas f JOIN Szoba sz ON f.SZOBA_FK = sz.SZOBA_ID 

                              JOIN Szallashely szh ON sz.SZALLAS_FK = szh.SZALLAS_ID

 

WHERE DATEDIFF(DAY, f.METTOL, f.MEDDIG) >=5 

GROUP BY szh.TIPUS, YEAR(f.MEDDIG), MONTH(f.METTOL)

: Msg 8120, Level 16, State 1, Line 1
Column 'Foglalas.METTOL' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.