In [2]:
--1.feladat
SELECT count(*) AS 'Foglalások száma' 
FROM Foglalas 
WHERE YEAR(METTOL)=YEAR(MEDDIG) AND MONTH(METTOL)<>MONTH(MEDDIG)

Foglalások száma
131

In [8]:
--2.feladat
SELECT sh.tipus, ROUND(AVG(sh.csillagok_szama), 0) AS 'átlagos csillagszám'
FROM Szallashely AS sh 
WHERE sh.tipus <> 'Panzió' 
GROUP BY sh.tipus 
HAVING ROUND(AVG(sh.csillagok_szama), 0) >= 3

tipus,átlagos csillagszám
Hotel,3

In [11]:
--3.feladat
SELECT sh.SZALLAS_NEV, COUNT(f.FOGLALAS_PK) AS 'foglalásszám'
FROM Foglalas AS f JOIN Szoba AS sz ON f.SZOBA_FK = sz.SZOBA_ID
JOIN Szallashely sh ON sz.SZALLAS_FK = sh.SZALLAS_ID

: Msg 8120, Level 16, State 1, Line 2
Column 'Szallashely.SZALLAS_NEV' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.